<div class="container-fluid">
    <h1>Mcgonagall</h1>
    <h4>A Web-Development Learning Platform</h4>
    <i class="bi bi-activity"></i>

    <%= link_to  "Privacy Policy", privacy_policy_path %>
</div>

